@font-face {
	font-family: 'クラフト明朝';
	src: url(/craftmincho.otf);
}

.main {
	padding: 0 20px;
}
.topTools {
	display: flex;
	justify-content: space-between;
	padding: 12px;
}
.totalPoint {
	font-family: クラフト明朝;
	/* font-size: 200%; */
	text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0px 1px 0 #fff,
		0-1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
	padding: 12px;
}
.tools {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.toolButtons {
	display: flex;
	gap: 12px;
}
.tree {
	display: flex;
	justify-content: center;
}
