@font-face {
	font-family: 'クラフト明朝';
	src: url(/craftmincho.otf);
}

.total {
	font-family: クラフト明朝;
	/* font-size: 200%; */
	text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0px 1px 0 #fff,
		0-1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
	position: absolute;
	color: 'black';
}

.shareBtn {
	position: absolute;
	left: 75%;
}
